<app-header></app-header>
<div class="dashboard-wrapper">
  <app-side-nav #sideNav></app-side-nav>

  <button class="hamburger-btn" [class.is-open]="!sideNav.isCollapsed"
    (click)="sideNav.toggleSidenav(); sideNavRef = sideNav">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <main [style.margin-right.px]="isMobile ? 0 : (!isEnglish ? (sideNav.isCollapsed ? 60 : 300) : 0)"
    [style.margin-left.px]="isMobile ? 0 : (isEnglish ? (sideNav.isCollapsed ? 60 : 300) : 0)">
    <app-overview-cards></app-overview-cards>
    <hr class="section-divider">
    <section id="main-metrics"><app-main-metrics></app-main-metrics></section>
    <hr class="section-divider">
    <section id="vaccine-impact"><app-vaccine-impact></app-vaccine-impact></section>
    <hr class="section-divider">
    <section id="tables-data" class="tabel-data"><app-table-data></app-table-data></section>
    <hr class="section-divider">
  </main>
</div>